# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# VSCode
.vscode/

# Mac / Linux
.DS_Store

# Windows
Thumbs.db

# Flask migrations
migrations/

# SQLite database
*.db

# dotenv file
.env
Notes.md